.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  color: #fff;
  padding: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header h1 {
  display: flex;
  margin: 0;
}

.App-header ul {
  list-style-type: none;
  display: flex;
  flex: 1;
  margin: 0;
}

.App-header ul li {
  display: inline-block;
  padding: 0 .5em;
}

.App-header ul li a {
  color: #fff;
  text-decoration: none;
}

.App-page {

}
